<div class="filter-bar">
  <button mat-button class="border-button" (click)="filterTasks('all')">
    All
  </button>
  <button mat-button class="border-button" (click)="filterTasks('completed')">
    Completed
  </button>
  <button mat-button class="border-button" (click)="filterTasks('pending')">
    Pending
  </button>
  <button mat-button class="border-button" (click)="filterTasks('in progress')">
    In-progress
  </button>
  <button
    style="margin-left: 60px"
    mat-raised-button
    class="custom-red-button"
    (click)="addTask()"
  >
    Add Task
  </button>
  <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px" *ngIf="filteredTasks.length > 0">
  <div
    fxFlex="100%"
    fxFlex.gt-sm="48%"
    fxFlex.gt-md="31%"
    *ngFor="let task of filteredTasks"
  >
    <mat-card class="task-card">
      <mat-card-title
        style="margin-left: 14px; font-weight: bold; font-style:normal"
      >
        {{ task.title.toLocaleUpperCase() }}
      </mat-card-title>
      <mat-card-content>Description :: {{ task.description }}</mat-card-content>
      <mat-card-content>Due Date :: {{ task.dueDate | date }}</mat-card-content>
      <mat-card-content>Status :: {{ task.status }}</mat-card-content>
      <mat-card-content>Priority: {{ task.priority }}</mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          class="border-button"
          style="color: blue"
          (click)="editTask(task)"
        >
          Edit
        </button>
        <button
          mat-button
          class="border-button"
          style="color: brown"
          (click)="deleteTask(task)"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<p *ngIf="filteredTasks.length === 0">No tasks found.</p>
